.header {
    display: flex;
    margin: 30px auto;
    max-width: 400px ;
    justify-content: space-around;
}

.header p {
    margin: 0;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:focus {
    color: rgb(0, 132, 255);
}